<div class="container">
    <form action="/api/v1/user/skill-add" method="post">
        <div class="row">
            <div class="col">
                <label for="skill">Skill</label>
                <input type="text" class="form-control" name="skill" placeholder="Skill title" required>
            </div>
            <div class="col">
                <label for="level">Level</label>
                <input type="number" class="form-control" name="level" placeholder="level" min="1" max="10" required>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <label for="years">Years of experince</label>
                <input type="number" class="form-control" name="years" placeholder="Years of experince" min="1" max="70"
                    required>
            </div>
            <div class="col">
                <label for="location">Country of experince</label>
                <input type="text" class="form-control" name="location" placeholder="Country where you learn Skill">
            </div>
        </div>

        <br>

        <div class="row col">
            <button type="submit" class="btn btn-primary mb-2">Add</button>
        </div>
    </form>

    <hr>

    <h3>My Skills</h3>
    <ul class="list-group">
        <% skills.forEach(skill => { %>

        <% if(skill.status == 'testing') {%>
        <li class="list-group-item list-group-item-primary">
            <% } else if (skill.status == 'judged') { %>
            <% if (skill.level > skill.judge) { %>
        <li class="list-group-item list-group-item-warning">
            <% } else { %>
        <li class="list-group-item list-group-item-success">
            <% } %>
            <% } else { %>
        <li class="list-group-item">
            <% } %>
            <div class="row">
                <div class="col">

                    <strong>
                        <span class="badge badge-secondary badge-pill">
                            <%= skill.level %>
                        </span>
                        <%= skill.skill.title %>
                    </strong>
                </div>
                <div class="col">
                    <%= skill.years %> years,
                    <%= skill.location %>
                </div>
                <div class="col">
                    <% if (skill.status == 'judged') { %>
                    <span>Judged level: <span class="badge badge-primary badge-pill">
                            <%= skill.judge %></span></span>
                    <% } else { %>
                    <span>
                        <%= skill.status %></span>
                    <% } %>
                </div>
            </div>
        </li>
        <% }) %>
    </ul>

    <!-- Use in Autocomplete
         <hr>
    <h3>All Skills</h3>
    <ul>
        <% allSkills.forEach(skill => { %>
        <li>
            <%= skill.title %>
        </li>
        <% }) %>
    </ul> -->
</div>