<div class="container">
    <h4>Skills to validate:</h4>
    <ul class="list-group">
        <% skills.forEach(skill => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><strong>
                    <%= skill.skill.title %>
                </strong>
                , by
                <%= skill.user.fullName %>
                <small>(<%= skill.user.emailAddress %>)</small>
            </span>

            <div>
                <% if (skill.status != 'testing') { %>
                <form action="/api/v1/admin/skill-testing" method="post">
                    <input type="hidden" name="skill" value="<%= skill.skill.id %>">
                    <input type="hidden" name="user" value="<%= skill.user.id %>">
                    <button type="submit" class="btn btn-sm btn-info">Testing</button>
                </form>
                <% } else { %>
                <form action="/api/v1/admin/skill-judge" method="post" class="form-inline">
                    <input type="hidden" name="skill" value="<%= skill.skill.id %>">
                    <input type="hidden" name="user" value="<%= skill.user.id %>">

                    <div class="input-group mb-3">
                        <input type="number" name="level" class="form-control" placeholder="judged level" required max="10" min="0">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">Judge</button>
                        </div>
                    </div>
                </form>
                <% } %>
            </div>
        </li>
        <% }) %>
    </ul>
</div>